.dark-blue-background {
    -fx-background-color: #a7d5e1;
}

.light-blue-background {
    -fx-background-color: #dceef3;
}

.blue-background {
	-fx-background-color: #c2e2ea;
}

.grey-background {
	-fx-background-color: #eeeeee;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0.0,0.0,0.0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.header-label {
    -fx-font-family: 'Pangolin', cursive;
    -fx-font-size: 48.0px;
    -fx-effect: dropShadow(three-pass-box,rgba(0.0,0.0,0.0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.title-label {
    -fx-font-family: 'Pangolin', cursive;
    -fx-font-size: 26.0px;
    -fx-effect: dropShadow(three-pass-box,rgba(0.0,0.0,0.0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.side-label {
    -fx-font-family: 'Pangolin', cursive;
    -fx-font-size: 26.0px;
    -fx-effect: dropShadow(three-pass-box,rgba(0.0,0.0,0.0,0.1), 10.0 , 0.0 , 0.0 , 10.0);
}

.black-border {
    -fx-border-color: black;
    -fx-border-width: 3.0px;
}

.regular-button {
    -fx-font-family: 'Pangolin', cursive;
    -fx-font-size: 18.0px;
    -fx-border-color: black;
    -fx-border-width: 3.0px;
    -fx-border-radius: 10.0px;
    -fx-background-radius: 10.0;
    -fx-effect: dropShadow(three-pass-box,rgba(0.0,0.0,0.0,0.1), 10.0 , 0.0 , 0.0 , 10.0);   
}

.regular-button:hover {
    -fx-background-color: #ECECEC;
    -fx-cursor: hand;
}

.regular-button:pressed {
    -fx-background-color: #DDDDDD;
    -fx-background-insets: 0.0;
}

.button-arrow {

}

.button-arrow:hover {
	-fx-background-color: #ECECEC;
    -fx-cursor: hand;
}

.arrow-box {
	-fx-border-color: transparent;
	-fx-effect: dropShadow(three-pass-box,rgba(0.0,0.0,0.0,0.0), 0.0 , 0.0 , 0.0 , 0.0);   
}

.selected-token {
    -fx-background-color: #DDDDDD;
    -fx-background-insets: 0.0;
}

.combo-box {
	-fx-font-family: 'Pangolin', cursive;
    -fx-font-size: 18.0px;
    -fx-border-color: black;
    -fx-border-width: 3.0px;
	-fx-border-radius: 10.0px;
    -fx-background-radius: 10.0;
    -fx-effect: dropShadow(three-pass-box,rgba(0.0,0.0,0.0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.text-field {
	-fx-font-family: 'Pangolin', cursive;
	-fx-font-size: 18.0px;
	-fx-border-color: black;
    -fx-border-width: 3.0px;
    -fx-border-radius: 10.0px;
    -fx-background-radius: 10.0;
    -fx-effect: dropShadow(three-pass-box,rgba(0.0,0.0,0.0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.card {
	-fx-border-color: black;
    -fx-border-width: 3.0px;
    -fx-border-radius: 10.0px;
    -fx-background-radius: 10.0;
    -fx-effect: dropShadow(three-pass-box,rgba(0.0,0.0,0.0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.rounded-border {
	-fx-border-radius: 10.0px;
    -fx-background-radius: 10.0;
}